$th-bg: #F3F3F3;
$amount-bg: #BBB;

body {
  font-family: 'LatoWeb' !important;
}

.navbar-header {
  position: relative;
}

.logo-name {
  font-size: 20px;
}

.navbar-brand small {
  font-size: 75%;
  color: #DCF2FF;
}

.navbar-header img {
  width: 49px;
  position: absolute;
  left: -60px;
  top: 0px;
}

.print,
.print-block,
.print-inline {
  display: none;
}

.bold {
  font-family: LatoWebBold;
}

.pointer {
  cursor: pointer;
}

button .glyphicon {
  margin: 0 10px;
}

.glyphicon.red {
  color: red;
  top: 10px;
  font-size: 20px;
  opacity: .6;
}

.glyphicon.red:hover {
  opacity: 1;
}

.glyphicon.disabled.red {
  opacity: 0;
}

.header-des {
  margin-bottom: 60px
}

.btn-facture {
  margin-left: 20px;
}

.inline {
  display: inline-block !important;
}

.f18 {
  font-size: 18px !important;
}

.f24 {
  font-size: 24px !important;
}

.w125 {
  width: 125px !important;
}

.w100 {
  width: 100px !important;
}

i {
  font-style: oblique;
}

select.optimize {
  border: none !important;
  box-shadow: 0 0 !important;
  padding: 0 !important;
  color: #000 !important;
  font-style: oblique;
}

.cover-options {
  background-color: #F5F5F5;
  width: 100%;
  height: 210px;
  padding: 25px 100px;
}

.cover-options > div {
  background-color: #eee;
  box-shadow: 0 0 1px #aaa;
  padding: 10px 15px;
}

#calculator table {
  border: 1px solid #aaa;
  tr:hover {
    background-color: #eee;
  }
  th {
    background-color: #666;
    color: #FFF;
    font-weight: normal;
    font-size: 13px;
    padding: 3px 8px 0px;
    font-size: 12px;
    letter-spacing: .5px;
    text-align: center;
    border: 1px solid #555 !important;
    border-right: 1px solid #CCC !important;
  }
  th:last-child {
    border-right: 1px solid #555 !important;
  }
  td:first-child {
    border-left: 1px solid #555 !important;
    padding: 16px 8px 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    background-color: #888;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .5px;
    text-align: center;
    width: 80px;
  }
  td:last-child {
    border-right: none;
  }
  td {
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
  }
}

#invoice {
  font-size: 18px;
  color: #000;
  .modal-body {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  table {
    * {
      border: 3px solid #333;
      color: #000;
    }
    tfoot td {
      font-family: LatoWebBold;
    }
    tr > * {
      padding: 5px 6px 1px;
    }
    th {
      font-family: LatoWebBold;
      font-size: 18px;
      background-color: $th-bg;
      text-align: center;
    }
    .td-indent {
      border-left: 3px solid #FFF !important;
      border-bottom: 3px solid #FFF !important;
    }
  }
  .discount input {
    border: none;
    width: 70px;
  }
  .discount input:focus {
    outline: none;
  }
}

.modal-dialog {
  width: 100% !important;
  left: -7.5px;
}

.devis-number {
  font-family: LatoWebBold;
  span {
    text-transform: uppercase;
  }
  input {
    border: none;
  }
}

.devis-client-name {
  font-size: 22px;
  margin-bottom: 40px;
  i {
    position: relative;
    top: 3px;
  }
  .client-name {
    font-size: 20px;
    border: 3px solid #333;
    text-align: center
  }
}

.introduction {
  margin-bottom: 20px;
  font-size: 16px;
}

.conclusion {
  font-style: oblique;
}

.amount-in-words {
  border: 3px solid #000;
  padding: 5px 30px;
  background-color: $amount-bg;
  color: #000;
  font-style: oblique;
  font-size: 20px;
  span {
    text-transform: uppercase;
  }
}

.signature {
  margin-top: 70px;
}

button.imprimer {
  width: 230px;
  float: right;
  margin: 30px 0px;
  padding: 10px;
  font-size: 18px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.15);
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  .no-print {
    display: none !important;
  }
  .print-inline {
    display: inline;
  }
  .print-block {
    display: block;
  }
  .bold {
    font-family: LatoWebBold;
  }
  .modal-content {
    -webkit-box-shadow: 0 0 !important;
    box-shadow: 0 0 !important;
    border: none !important;
  }
  .discount span {
    border: none !important;
    margin: 0 7px;
  }
  #invoice {
    table th {
      background-color: $th-bg !important;
      font-family: LatoWebBold;
    }
    tfoot td {
      font-family: LatoWebBold;
    }
  }
  .DEVIS {
    background: none;
  }
  .amount-in-words {
    background-color: $amount-bg !important;
  }
}